@import url(../../../styles/_fonts.scss);
*{
  font-family: 'Noto Sans Georgian', sans-serif !important;
}

.decor{
  width: 640px;
  height: 360px;
  background-color: #3563e9;
  border-radius: 10px;
  background-image: url("../../../assets/decor-bg-arrows.svg");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans Georgian', sans-serif;
  .inner_container{
    width: 90%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .decor_text{
      font-family: BPGSquare;
      color: #fff;
    }

    .decor_paragraph{
      font-family: BPGSquare;
      color: #fff;
      font-size: 23px;
    }
    .paragraph_container{
      margin-top: 30px;
    }

    .rent_button{
      width: 120px;
      height: 45px;
      background-color: #54a6ff;
      border-radius: 4px;
      border: 0;
      outline: 0;
      font-family: BPGSquare;
      font-size: 17px;
      color: #fff;
      margin-top: 20px;
      cursor: pointer;

      &:hover{
        background-color: #7cb7f7;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .decor{
    width: 500px;
    background-position-x: -20px;
  }
}


@media screen and (max-width: 513px) {
  .decor{
    width: 375px;
    background-position-x: 90px;
  }
}
