
  .m-0{
    margin: 0 !important;
  }
  .p-0 {
    padding: 0 !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }

  .mt-auto {
    margin-top: auto !important;
  }



  .d-block {
    display: block;
  }

  .d-flex {
    display: flex;
  }

  .flex-full{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-direction-column {
    flex-direction: column;
  }

  .none{
    text-decoration: none !important;
  }


  .text-center{
    text-align: center !important;
  }

  .flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .pointer{
    cursor: pointer !important;
  }
