$primary900: #0A196F;
$primary800: #102587;
$primary700: #1A37A7;
$primary600: #264BC8;
$primary500: #3563E9;
$primary400: #658DF1;
$primary300: #85A8F8;
$primary200: #AEC8FC;


$secondary900: #040815;
$secondary800: #080C19;
$secondary700: #0D121F;
$secondary600: #131825;
$secondary500: #1A202C;
$secondary400: #596780;
$secondary300: #90A3BF;
$secondary200: #C3D4E9;
$secondary100: #E0E9F4;