<div class="navbar_container">
  <div class="left_side">
    <img
      [routerLink]="'/'"
      class="pointer"
      src="../../../assets/Logo.svg"
      alt=""
    />
  </div>

  <div class="right_side">
    <div *ngIf="AuthService.isLoggedIn()" class="nav_item hoverable">
      <a routerLink="/favorites"
        ><img src="../../../assets/favorite-icon.svg" alt=""
      /></a>
    </div>
    <div *ngIf="AuthService.isLoggedIn()" class="nav_item">
      <img
        class="hoverable"
        (click)="showNotifications = !showNotifications"
        src="../../../assets/notification-icon.svg"
        alt=""
      />
      <div *ngIf="showNotifications">
        <app-notification-box></app-notification-box>
      </div>
    </div>

    <div *ngIf="AuthService.isLoggedIn()" class="nav_item hoverable">
      <a [routerLink]="'/Profile'"
        ><img src="../../../assets/settings-icon.svg" alt=""
      /></a>
    </div>
    <div class="nav_item">
      <button
        [routerLink]="'/Authorization'"
        *ngIf="!AuthService.isLoggedIn()"
        class="Login_button"
      >
        რეგისტრაცია
      </button>
      <button
        *ngIf="AuthService.isLoggedIn()"
        (click)="AuthService.logout()"
        class="Logout_button"
      >
        გამოსვლა
      </button>
    </div>
  </div>
</div>
