<div class="navbar_container">
  <div class="left_side">
    <img src="../../../assets/Logo.svg" alt="">
  </div>


  <div class="right_side">
    <div class="nav_item hoverable">
      <a routerLink="/favorites"><img src="../../../assets/favorite-icon.svg" alt=""></a>
    </div>
    <div class="nav_item">
      <img class="hoverable" onclick="" src="../../../assets/notification-icon.svg" alt="">
    </div>
    <div class="nav_item hoverable">
      <a routerLink="/settings"><img src="../../../assets/settings-icon.svg" alt=""></a>
    </div>
    <div class="nav_item">
      <button [routerLink]="'/Authorization'" *ngIf="!AuthService.isLoggedIn()" class="Login_button">ავტორიზაცია</button>
      <button *ngIf="AuthService.isLoggedIn()" (click)="AuthService.logout()" class="Logout_button">გამოსვლა</button>
    </div>
  </div>
</div>
