*{
    font-family: 'Noto Sans Georgian', sans-serif !important;
}


.profile_section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    .users_info_side{
        h1{
            font-family: 'Noto Sans Georgian', sans-serif !important;
            color: #1b202c;
        }
    }

    .image_itself{
        width: 125px;
        height: 125px;
        background-color: #FF4423;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        margin-left: 30px;
        h1{
            font-size: 50px;
            color: #fff;
            font-family: 'Noto Sans Georgian', sans-serif !important;
            font-weight: 700;
            margin-top: 0;
            text-align: center;
            user-select: none;

        }
    }
}

.liked_cars{
    font-size: 19px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
}
.wrapper{
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}