<mgl-map
  #map
  [style]="'mapbox://styles/lashvardi/clfgxyw4700ln01mriqocpnek'"
  [zoom]="[13]"
  [center]="userLocation || [42.716667, 42.783333]"
  (load)="onMapLoad($event)"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglScale unit="imperial" position="top-right"></mgl-control>
  <mgl-control mglGeolocation position="top-right"></mgl-control>

  <ng-container *ngFor="let marker of markers">
    <mgl-geojson-source
      id="markersSource"
      [data]="markersGeoJSON"
      [cluster]="true"
      [clusterMaxZoom]="30"
      [clusterRadius]="25"
    >
    </mgl-geojson-source>
    <mgl-layer
      id="cluster-count-background"
      type="circle"
      source="markersSource"
      [filter]="['has', 'point_count']"
      [paint]="{
        'circle-color': [
          'step',
          ['get', 'point_count'],
          '#51bbd6',
          100,
          '#f1f075',
          750,
          '#f28cb1'
        ],
        'circle-radius': [
          'interpolate',
          ['linear'],
          ['get', 'point_count'],
          10,
          30,
          100,
          100
        ],
        'circle-opacity': 0.6
      }"
    ></mgl-layer>
    <mgl-layer
      id="cluster-count"
      type="symbol"
      source="markersSource"
      [filter]="['has', 'point_count']"
      [layout]="{
        'text-field': '{point_count_abbreviated}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 30,
        'text-anchor': 'center',
        'text-offset': [0, 0]
      }"
      [paint]="{
        'text-color': '#ffffff',
        'text-opacity': 0.9
      }"
    ></mgl-layer>
    <mgl-layer
      class="marker"
      (click)="onLayerMarkerClick($event)"
      id="clusters"
      type="symbol"
      source="markersSource"
      [filter]="['!', ['has', 'point_count']]"
      [layout]="{
        'icon-image': 'custom-marker',
        'icon-size': 0.6
      }"
    ></mgl-layer>
  </ng-container>

  <mgl-marker *ngIf="userLocation" [lngLat]="userLocation">
    <div class="user-location-marker">
      <img
        width="20px"
        src="https://static.vecteezy.com/system/resources/previews/009/267/042/original/location-icon-design-free-png.png"
        alt="User location"
      />
    </div>
  </mgl-marker>

  <mgl-geojson-source
    id="routeSource"
    [data]="routeGeoJSON?.data"
  ></mgl-geojson-source>

  <mgl-layer
    *ngIf="routeGeoJSON"
    id="route"
    type="line"
    source="routeSource"
    [layout]="{
      'line-join': 'round',
      'line-cap': 'round'
    }"
    [paint]="{
      'line-color': '#0500ec',
      'line-width': 9,
      'line-opacity': 0.75
    }"
  ></mgl-layer>
</mgl-map>
