<div class="card_body">
  <div class="inner_container">
    <div class="header_container">
      <div class="title_side">
        <h1 class="car_brand">{{car?.brand}}</h1>
        <h2 class="car_model">{{car?.model}}/<span class="car_model year">{{car?.year}} წლის</span></h2>

      </div>

      <div class="favorite_side">
        <button class="favorite_button">
          <img src="../../../assets/favorite-icon.svg" alt="">
        </button>
      </div>
    </div>

    <div class="swiper_body">
      <swiper *ngIf="car?.imageUrl1" [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template swiperSlide><img class="slide_Image" src="{{car?.imageUrl1}}" alt=""></ng-template>
        <ng-template swiperSlide><img class="slide_Image" src="{{car?.imageUrl2}}" alt=""></ng-template>
        <ng-template swiperSlide><img class="slide_Image" src="{{car?.imageUrl3}}" alt=""></ng-template>
      </swiper>
    </div>

    <div class="details_box">
      <div class="fuel flex-full">
        <img src="../../../assets/fuel-icon.svg" alt="">
        <span>{{car?.fuelCapacity}}ლ</span>
      </div>

      <div class="gaerbox flex-full">
        <img src="../../../assets/gearbox-icon.svg" alt="">
        <span>{{car?.transmission}}</span>

      </div>

      <div class="capacity flex-full">
        <img src="../../../assets/capacity-icon.svg" alt="">
        <span>{{car?.capacity}}კაცი</span>
      </div>
    </div>


    <div class="price_box">
      <div class="price_side">
        <h1 class="price">₾99.00/</h1>
        <h2 class="per_day">დღიური</h2>
      </div>

      <div class="button_side">
        <button class="rent_button">იქირავე</button>
      </div>
    </div>
  </div>
</div>
