@import "../../../../node_modules/bootstrap/scss/bootstrap";

*{
  font-family: 'Noto Sans Georgian', sans-serif !important;
}


.container-fluid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
  .left_side{
    display: flex;
    flex-direction: row;
  }

  .filter_container{
    width: 300px;
  }
