<div class="outter_container">
    <div class="flex_box">
    </div>
</div>

<div class="centerer">
    <div class="outter_box">
        <div class="header_box">
            <h1 class="popular_cars">პოპულარული მანქანები</h1>

        </div>

        <div class="cards_box">
            <app-cars-card *ngFor="let car of cars" [car]="car"></app-cars-card>
        </div>

        <ngx-skeleton-loader *ngIf="cars.length < 1" count="5" [theme]="{height: '350px', width:'270px', margin:'25px', background: 'grey', opacity:'0.6'}"></ngx-skeleton-loader>

    </div>
</div>
